/*分辨屏幕大小*/
@media only screen and (max-width: 414px) {
  html {
    font-size: 55px;
  }
}
html,
body,
ul,
li,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}
/*logo*/
.logo {
  margin: 0 0.2rem;
  height: 0.8rem;
  background: url('../images/logo.png') left no-repeat;
  background-size: 1.5rem;
}
/*title*/
.big_title {
  width: 100%;
  height: 0.8rem;
  line-height: 0.8rem;
  font-size: 0.3rem;
  text-align: center;
}
.small_title {
  width: 100%;
  height: 0.6rem;
  line-height: 0.6rem;
  font-size: 0.25rem;
  color: #c8beac;
  text-align: center;
}
.border_box {
  border-bottom: 1px dashed #ccc;
}
/*img*/
.banner {
  width: 100%;
}
/*label*/
.label_box {
  overflow: hidden;
  margin: 0 0.7rem;
}
.label_box .label {
  padding: 0.1rem 0.15rem;
  display: block;
  height: 0.4rem;
  line-height: 0.4rem;
  font-size: 0.2rem;
  font-weight: bold;
  text-align: center;
  background: #fcbea6;
  float: left;
  margin-right: 0.2rem;
  margin-bottom: 0.2rem;
}
/*TextDescription*/
.des {
  font-size: 0.2rem;
  margin: 0.4rem 0.2rem;
  line-height: 0.4rem;
}
/*list*/
.list {
  width: 100%;
}
.list tr:last-child .rank {
  border-bottom: none;
}
.list .row .rank {
  width: 50%;
  height: 0.6rem;
  line-height: 0.6rem;
  font-size: 0.2rem;
  border-bottom: 1px dashed #ccc;
  text-align: center;
}
/*Image & Text*/
.img_des_box {
  margin-top: 0.4rem;
}
.img_des_box .img_des {
  margin: 0 0.2rem;
}
.img_des_box .img_des .num {
  width: 0.4rem;
  float: left;
  color: red;
  font-size: 0.3rem;
}
.img_des_box .img_des .img {
  width: 4.5rem;
  display: block;
}
.img_des_box .img_des .des {
  width: 4.5rem;
  margin-top: 0.2rem;
  margin-left: 0.4rem;
  display: block;
  line-height: 0.35rem;
}
.img_des_box tr:last-child {
  margin-bottom: 0!important;
}
