/*分辨屏幕大小*/
@media screen and (max-width: 800px) {
  html {
    font-size: 80px;
  }
}
@media screen and (max-width: 500px) {
  html {
    font-size: 55px;
  }
}
@media screen and (max-width: 360px) {
  html {
    font-size: 55px;
  }
  .label_box {
    width: 4.4rem!important;
  }
}
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
dl,
dt,
dd {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  font-weight: normal;
}
ul {
  list-style: none;
}
img {
  border-style: none;
  display: block;
}
body {
  font-size: 80px;
}
.app_controller {
  display: block !important;
}
.pc_controller {
  display: none !important;
}
/*logo*/
.logo {
  display: none;
  margin: 0 0.2rem;
  height: 0.8rem;
  background: url('../images/logo.png') left no-repeat;
  background-size: 1.5rem;
}
/*title*/
.big_title {
  width: 100%;
  height: 0.8rem;
  line-height: 0.8rem;
  font-size: 0.6rem;
  font-weight: bold;
  text-align: center;
  display: none;
  margin-top: 0.3rem;
}
.small_title {
  width: 100%;
  height: 0.6rem;
  line-height: 0.6rem;
  font-size: 0.5rem;
  color: #c8beac;
  text-align: center;
}
.border_box {
  padding-bottom: 0.3rem;
  border-bottom: 1px dashed #ccc;
}
/*img*/
.banner {
  width: 100%;
}
/*label*/
.label_box {
  overflow: hidden;
  width: 6.6rem;
  margin: 0.4rem auto;
}
.label_box .label {
  width: 1.8rem;
  padding: 0.1rem;
  font-size: 0.3rem;
  font-weight: bold;
  text-align: center;
  background: #fcbea6;
  float: left;
  margin: 0.1rem;
}
/*TextDescription*/
.des {
  font-size: 0.4rem;
  margin: 0.4rem 0.3rem;
  line-height: 0.6rem;
}
.des_border {
  font-size: 0.4rem;
  margin: 0 0.3rem;
  padding: 0.4rem 0;
  line-height: 0.6rem;
  border-top: 1px solid #f0f0f0;
}
/*list*/
.list {
  width: 100%;
  margin-bottom: 0.3rem;
}
.list tr:last-child .rank {
  border-bottom: none;
}
.list .row .rank {
  width: 50%;
  height: 0.8rem;
  line-height: 0.8rem;
  font-size: 0.4rem;
  border-bottom: 1px dashed #ccc;
  text-align: center;
}
/*Image & Text*/
.img_des_box {
  margin-top: 0.4rem;
}
.img_des_box .img_des {
  margin: 0 0.4rem;
}
.img_des_box .img_des .num {
  width: 0.4rem;
  float: left;
  color: red;
  font-size: 0.5rem;
}
.img_des_box .img_des .img {
  width: 90%;
  display: block;
}
.img_des_box .img_des .step_des {
  width: 90%;
  display: block;
  font-size: 0.4rem;
  margin: 0.4rem 0.3rem;
  line-height: 0.6rem;
}
.img_des_box tr:last-child {
  margin-bottom: 0!important;
}
